
<div class="footer-container">
    <div class="footer-logo">
        <img src="assets/images/navbar-logo.png" />
        <span>
            <input placeholder="Your email"/>
            <p>SUBSCRIBE</p>
        </span>

    </div>
    <div class="footer-content">
        <div class="address">
            <h2>ADDRESS</h2>
            <div class="address-content">
                <div class="location">
                    <fa-icon [icon]="location"></fa-icon>
                    <h4 class="location-content">Location</h4>
                </div>
                <div class="call">
                    <fa-icon [icon]="call"></fa-icon>
                    <h4 class="call-content">Call : +01 123455678990</h4>
                </div>
                <div class="email">
                    <fa-icon [icon]="email"></fa-icon>
                    <h4 class="email-content">Email : mail@domain.com</h4>
                </div>
                <div class="social-links">
                    <fa-icon [icon]="facebook"></fa-icon>
                    <fa-icon [icon]="twitter"></fa-icon>
                    <fa-icon [icon]="linkedIn"></fa-icon>
                    <fa-icon [icon]="instagram"></fa-icon>
                </div>
            </div>
        </div>
        <div class="useful-link">
            <h2>USEFUL LINK</h2>
            <h4>Home</h4>
            <h4>About</h4>
            <h4>Treatment</h4>
            <h4>Doctors</h4>
            <h4>Testimonial</h4>
            <h4>Contact Us</h4>
        </div>
        <div class="latest-post">
            <h2>LATEST POSTS</h2>
            <div class="latest-post-1">
                <img src="assets/images/latest-post-1.jpeg" />
                <h4>Normal Distribution</h4>
            </div>
            <div class="latest-post-2">
                <img src="assets/images/latest-post-2.jpeg" />
                <h4>Normal Distribution</h4>
            </div>
        </div>
        <div class="news">
            <h2>NEWS</h2>
            <div class="news-1">
                <img src="assets/images/news-1.jpeg" />
                <h4>Normal Distribution</h4>
            </div>
            <div class="news-2">
                <img src="assets/images/news-2.png" />
                <h4>Normal Distribution</h4>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <p>© 2023 All Rights Reserved. By HTML Design</p>
    </div>
</div>