<div class="navbar-top-content">
    <fa-icon [icon]="call"></fa-icon>
    <h4 class="call-content">Call : +01 123455678990</h4>
    <fa-icon [icon]="email"></fa-icon>
    <h4 class="email-content">Email : mail@domain.com</h4>
    <fa-icon [icon]="location"></fa-icon>
    <h4 class="location-content">Location</h4>
</div>
<div class="nav-bar-cntainer">
    <img src="assets/images/navbar-logo.png" />
    <h4>HOME</h4>
    <h4>ABOUT</h4>
    <h4>TREATMENT</h4>
    <h4>DOCTORS</h4>
    <h4>TESTIMONIAL</h4>
    <h4>CONTACT US</h4>
    <span class="user-icon">
        <fa-icon class="fa-icon-class" [icon]="userIcon"></fa-icon>
        <h4>LOGIN</h4>
    </span>
    <span class="user-icon">
        <fa-icon class="fa-icon-class" [icon]="userIcon"></fa-icon>
        <h4>SIGN UP</h4>
    </span>
    <fa-icon class="search-icon" [icon]="searchIcon"></fa-icon>
</div>