
<div class="our-doctors-container">
    <div class="our-doctors-heading">
        <span>
            <h1 class="our">OUR</h1>
        </span>
        <span>
            <h1 class="doctors">DOCTORS</h1>
        </span>
    </div>
    <div class="our-doctors-details">
        <div>
            <img src="assets/images/our-doctors-1.jpeg" />
        </div>
        <div>
            <img src="assets/images/our-doctors-2.jpeg" />
        </div>
        <div>
            <img src="assets/images/our-doctors-3.jpeg" />
        </div>
    </div>
</div>