<div class="book-appointment-container">
    <div class="book-appointment">
        <h3>
            <span class="book">
                BOOK
            </span> 
            <span class="appointment">
                APPOINTMENT
            </span>
        </h3>
    </div>
    <div class="inputs-dropdowns">
        <span>
            <h4>Patient Name</h4>
            <input type="text" name="Patient Name">
        </span>
        <span>
            <h4>Doctor's Name</h4>
            <select name="Normal Distribution" id="Normal Distribution">
                <option value="Normal Disctribution">Normal Distribution</option>
                <option value="Normal Distribution">Normal Distribution</option>
                <option value="Normal Distribution">Normal Distribution</option>
            </select>
        </span>
        <span>
            <h4>Department's Name</h4>
            <select name="Department's Name" id="Department's Name">
                <option value="Department's Name">Department's Name</option>
                <option value="Department's Name">Department's Name</option>
                <option value="Department's Name">Department's Name</option>
            </select>
        </span>
    </div>
    <div class="inputs-dropdowns">
        <span>
            <h4>Phone Number</h4>
            <input type="number" name="PhoneNumber" placeholder="XXXXXXXXXX">
        </span>
        <span>
            <h4>Symptoms</h4>
            <input type="text" name="symptoms">
        </span>
        <span>
            <h4>Choose Date</h4>
            <input type="date" name="choose date">
        </span>
    </div>
    <div class="submit-now">
        <button>SUBMIT NOW</button>
    </div>
</div>
