
<div class="testimonial-container">
    <div>
        <h2 class="testimonial-heading">TESTIMONIAL</h2>
    </div>
    <div class="testimonial">
        <h3>Rochak</h3>
        <p>
            Variouseditors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.<br>
            Variouseditors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.<br>
            editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        </p>
    </div>
</div>