
<div class="about-hospital-container">
    <div>
        <img src="assets/images/about-img.jpeg" />
    </div>
    <div class="about-hospital-content">
        <div class="about-hospital-heading">
            <span>
                <h1 class="about">About</h1>
            </span>
            <span>
                <h1 class="hospital">Hospital</h1>
            </span>
        </div>
        <p>
            has a more-or-less normal distribution of letters, as opposed to using 'Content<br>
            here, content here', making it look like readable English. Many desktop<br>
            publishing packages and web page editors has a more-or-less normal<br>
            distribution of letters, as opposed to using 'Content here, content here',<br>
            making it look like readable English. Many desktop publishing packages and<br>
            web page editors
        </p>
        <button>Read More</button>
    </div>
</div>
