
<div class="get-in-touch-container">
    <h2 class="get-in-touch-heading">GET IN TOUCH</h2>
    <div class="get-in-touch">
        <div class="form">
            <div class="full-name">
                <input type="text" placeholder="Full Name">
            </div>
            <div class="email">
                <input type="email" placeholder="Email">
            </div>
            <div class="phone-number">
                <input type="number" placeholder="Phone Number">
            </div>
            <div class="message">
                <input type="text" placeholder="Message">
            </div>
            <div class="send">
                <button>SEND</button>  
            </div>
        </div>
        <div class="img-git">
            <img src="assets/images/get-in-touch.jpeg" />
        </div>
    </div>
</div>