
<div class="hospital-treatment-container">
    <div class="hospital-treatment-heading">
        <span>
            <h1 class="hospital">Hospital</h1>
        </span>
        <span>
            <h1 class="treatment">Treatment</h1>
        </span>
    </div>
    <div class="treatment-types">
        <div>
            <img src="assets/images/nephrologist-img.png" />
            <h2>Nephrologist Care</h2>
            <p>alteration in some form, by injected<br>
                humour, or randomised words which<br>
                don't look even slightly e sure there<br>
                isn't anything</p>
            <h4>READ MORE</h4>
        </div>
        <div>
            <img src="assets/images/eye-care.png" />
            <h2>Eye Care</h2>
            <p>alteration in some form, by injected<br>
                humour, or randomised words which<br>
                don't look even slightly e sure there<br>
                isn't anything</p>
            <h4>READ MORE</h4>
        </div>
        <div>
            <img src="assets/images/pediatrician.png" />
            <h2>Pediatrician Clinic</h2>
            <p>alteration in some form, by injected<br>
                humour, or randomised words which<br>
                don't look even slightly e sure there<br>
                isn't anything</p>
            <h4>READ MORE</h4>
        </div>
        <div>
            <img src="assets/images/parental-care.png" />
            <h2>Parental Care</h2>
            <p>alteration in some form, by injected<br>
                humour, or randomised words which<br>
                don't look even slightly e sure there<br>
                isn't anything</p>
            <h4>READ MORE</h4>    
        </div>
    </div>
</div>
